<!DOCTYPE html>
<html lang="en">

<title>PR-PO Tool</title>

<head>
    <style type="text/css">.error {color: red;}</style>
</head>

<body>
    
    <h1>PR-PO Tool</h1>
    <div>
    <p class="error" >{{ .Error }}</p>
    <p class="success" >{{ .Success }}</p>
    </div>
    <div>
            <p><a href="../purchaserequest">Make a purchase request</a></p>
            <p><a>Admin</a></p>
            <p><a href="../admin">Approve or reject purchase requests</a></p>
            <p><a href="../admin/adduser">Add user</a></p>
            <p><a href="../admin/addcostenter">Add cost center</a></p>
    </div>


</body>