<!DOCTYPE html>
<html lang="en">


<head>
<title>Purchase Request</title>
<style>
        input[type=text], input[type=number], select {
            width: 100%;
            padding: 10px 15px;
            margin: 5px 0;
            display: inline;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        
        button[type=submit] {
            width: 100%;
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        
        button[type=submit]:hover {
            background-color: #45a049;
        }
        
        div {
            border-radius: 3px;
            background-color: #f2f2f2;
            padding: 10px;
        }

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

        </style>

<style type="text/css">.error {color: red;}</style>
<style type="text/css">.success {color: green;}</style>

</head>

<ul>
<li style="display:inline-block;">
<p><a href="../">Home</a></p> 
</li>
</ul>

    <h1>Purchase Request</h1>
    <div>
        <p class="error" >{{ .Error }}</p>
        <p class="success" >{{ .Success }}</p>
    </div>

    <form autocomplete="off" action="/purchaserequest" id="purchaserequest" method="post">
        <p>
        <input type="checkbox" name="isAnotherItem" value="yes"> Several Items?<br>
        </p>
        Cost Center:<select id="costCenter" name="costCenter" form="purchaserequest" required>
                <option value=""></option> 
                <option selected="selected">{{ .CostCenter }}</option>
        </select>
        PR Type (if non-quantitative, Quantity will always be 1):<select name="prType" form="purchaserequest" required>
                <option value=""></option>
                <option selected="selected">{{ .PrType }}</option>
                <option value="Quantitative">Quantitative</option>
                <option value="Non-Quantitative">Non-Quantitative</option>
                </select>
        Cost Type:<select name="costType" form="purchaserequest" required>
                <option value=""></option>
                <option selected="selected">{{ .CostType }}</option>
                <option value="Material">Material</option>
                <option value="Logistics">Logistics</option>
                <option value="Labour">Labour</option>
                <option value="Other">Other</option>
                </select>
        Cost Category:<select id="costCategory" name="costCategory" form="purchaserequest" required>
                <option value=""></option>
                <option selected="selected">{{ .CostCategory }}</option>
        </select>
        Number of Invoices:<input type="number" step="1" min=1 name="numberOfInvoice" value="{{ .NumberOfInvoice }}" required>
        Invoice Number (separate several invoices with -, no space):<input type="text" name="invoiceNumber" title="Ex: 123456768-12345667" pattern="[0-9\-]{0,500}" value="{{ .InvoiceNumber }}" required>
        Invoice Date (if several: latest invoice date):<select id="invoiceDate" name="invoiceDate" form="purchaserequest" required>
                <option value=""></option>
                <option selected="selected">{{ .InvoiceDate }}</option>
        </select>
        <div class="autocomplete" style="width:300px;">
        Vendor Name: <input type="text" name="vendorName" id="vendorName" placeholder="Search for vendors.." value="{{ .VendorName }}" required>
        <input type="hidden" name="fKVendor" id="fKVendor" value="{{ .FKVendor }}">
        </div>
        Item Description:<input type="text" name="itemDescription" value="{{ .ItemDescription }}" required>
        Unit Price IRR (total invoice amount if non-quantitative):<input type="number" step="0.01" min=0 name="unitPrice" value="{{ .UnitPrice }}" required>
        VAT Unit Price IRR (total VAT if non-quantitative):<input type="number" step="0.01" min=0 name="vatUnitPrice" value="{{ .VatUnitPrice }}" required>
        Quantity (if non-quantitative, will always be 1):<input type="number" step="1" min=0 name="quantity" value="{{ .Quantity }}" required>
        Payment Term in Days:<select name="paymentTerm" form="purchaserequest" required>
                <option value=""></option>
                <option selected="selected">{{ .PaymentTerm }}</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="30">30</option>
                <option value="45">45</option>
                <option value="60">60</option>
                <option value="75">75</option>
                <option value="90">90</option>
            </select>
        Number of Payment Installments:<select name="paymentInstallment" form="purchaserequest" required>
            <option value=""></option>
            <option selected="selected">{{ .PaymentInstallment }}</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        Payment Center:<select name="paymentCenter" form="purchaserequest" required>
            <option value=""></option>
            <option selected="selected">{{ .PaymentCenter }}</option>
            <option value="Head Office">Head Office</option>
            <option value="Operations">Operations</option>
            </select>
        Payment Type:<select name="paymentType" form="purchaserequest" required>
                <option value=""></option>
                <option selected="selected">{{ .PaymentType }}</option>
                <option value="Bank Transfer">Bank Transfer</option>
                <option value="Cash">Cash</option>
                <option value="Card-to-Card Transfer">Card-to-Card Transfer</option>
                <option value="Online Banking">Online Banking</option>
                </select>
        <button type="submit"> Submit </button>
      </form>
      
      <script>



      var vendorName =[],fKVendor=[], i;
      i = 0;
      fetch("/purchaserequest/startvendor")
      .then(vendorTableByte => vendorTableByte.json())
      .then(vendorTableJSON => {
        //Once we fetch the list, we iterate over it
        vendorTableJSON.forEach(vendor => {
          fKVendor[i] = vendor.id_vendor
          vendorName[i] = vendor.vendor_name
          i++
        })
      })

      autocomplete(document.getElementById("vendorName"),document.getElementById("fKVendor") ,vendorName,fKVendor);

      function autocomplete(inpName, inpValue, arrName, arrValue) {
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inpName.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arrName.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        // arrName[i].substr(0, val.length).toUpperCase() == val.toUpperCase() : can use this to revert old filter
        if (arrName[i].toUpperCase().indexOf(val.toUpperCase()) > -1) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arrName[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arrName[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arrValue[i] + "' name='" + arrName[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
              b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
              inpValue.value = this.getElementsByTagName("input")[0].value;
              inpName.value = this.getElementsByTagName("input")[0].name;
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inpName.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inpName) {
      x[i].parentNode.removeChild(x[i]);
    }
  }
}
/*execute a function when someone clicks in the document:*/
document.addEventListener("click", function (e) {
    closeAllLists(e.target);
});
}

       costCenterSelectElement = document.querySelector("#costCenter")
      fetch("/purchaserequest/startavailablecostcenter")
      .then(costCenterTableByte => costCenterTableByte.json())
      .then(costCenterTableJSON => {
        //Once we fetch the list, we iterate over it
        costCenterTableJSON.forEach(costCenter => {

          // create the <option> element and fill it
          costCenterOptionElement = document.createElement("option")
          costCenterOptionElement.value = costCenter.gid_function
          costCenterOptionElement.innerHTML = costCenter.function_name

          // Finally, add the option element to the select element itself
          costCenterSelectElement.appendChild(costCenterOptionElement)
        })
      })

        costCategorySelectElement = document.querySelector("#costCategory")
      fetch("/purchaserequest/startcostcategory")
      .then(costCategoryTableByte => costCategoryTableByte.json())
      .then(costCategoryTableJSON => {
        //Once we fetch the list, we iterate over it
        costCategoryTableJSON.forEach(costCategory => {

          // create the <option> element and fill it
          costCategoryOptionElement = document.createElement("option")
          costCategoryOptionElement.value = costCategory.id_cost_category
          costCategoryOptionElement.innerHTML = costCategory.name_fa

          // Finally, add the option element to the select element itself
          costCategorySelectElement.appendChild(costCategoryOptionElement)
        })
      })


          invoiceDateSelectElement = document.querySelector("#invoiceDate")
      fetch("/purchaserequest/startforminvoicedate")
      .then(invoiceDateTableByte => invoiceDateTableByte.json())
      .then(invoiceDateTableJSON => {
        //Once we fetch the list, we iterate over it
        invoiceDateTableJSON.forEach(invoiceDate => {

          // create the <option> element and fill it
          invoiceDateOptionElement = document.createElement("option")
          invoiceDateOptionElement.value = invoiceDate
          invoiceDateOptionElement.innerHTML = invoiceDate

          // Finally, add the option element to the select element itself
          invoiceDateSelectElement.appendChild(invoiceDateOptionElement)
        })
      })



  </script>

</body>